@model td4.Models.CategoriaModel

@{
    ViewData["Title"] = "Criar Categoria";
}

<h1>Criar Categoria</h1>

<form asp-action="CriarCategoria" method="post">
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Nome" class="form-label">Nome da Categoria:</label>
        <input asp-for="Nome" class="form-control transparent-input" placeholder="Digite o nome da categoria" autocomplete="off">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
