@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-1">TaskMaster</h1>
    <h1 class="display-6">Seja bem-vindo ao gerenciador de tarefas.</h1>
</div>
