@model TarefaModel

@{
    ViewData["Title"] = "Editar Tarefa";
}

<h1>Editar Tarefa</h1>

<form asp-action="EditarTarefa" method="post">
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Nome" class="form-label">Nome:</label>
        <input asp-for="Nome" class="form-control transparent-input" placeholder="Digite o novo nome da tarefa" autocomplete="off">
        <span asp-validation-for="Nome" class="text-danger"></span>

        <label asp-for="Categoria" class="form-label">Categoria:</label>
        <select asp-for="Categoria" class="form-select transparent-input" asp-items="ViewBag.Categorias">
            <option value="">Selecione uma categoria</option>
        </select>
        <span asp-validation-for="Categoria" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>