@model td4.Models.TarefaModel

@{
    ViewData["Title"] = "Confirmar Remoção";
}

<h1>Confirmar Remoção</h1>

<div>
    <h4>Você tem certeza que deseja remover a tarefa?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Categoria
        </dt>
        <dd class="col-sm-10">
            @Model.Categoria
        </dd>
    </dl>
    
    <form asp-action="RemoverTarefa">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Remover" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
